<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
    
    <main class="container">
      <div class="container-fluid">
        <h1 class="display-4">Welcome to my <%=title%> Page</h1>
        <% if(title=="Home"){%>
          
          <br><br><br><br>
          <div class="container col-6 justify-content-center align-items-center">
          <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3 bg-light rounded">
            
            <div class="col">
              <div class="p-3">
                Mission Statement:
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                My mission in the IT career is to help improve the efficency of business processes by managing the information quickly, accurately
                and consistenly.
              </div><br><br>
            </div>
            
            <div class="col">
              <div class="p-3">
                <a class="btn btn-primary" aria-current="page" href="about"><i class="fa-regular fa-address-card"></i>About</a>
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                <a class="btn btn-primary" aria-current="page" href="projects"><i class="fa-light fa-diagram-project"></i>Projects</a>
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                <a class="btn btn-primary" aria-current="page" href="services"><i class="fa-brands fa-servicestack"></i>Services</a>
              </div>
            </div>
            <div class="col">
              <div class="p-3">
                <a class="btn btn-primary" aria-current="page" href="contact"><i class="fa-regular fa-address-book"></i>Contact</a>
              </div>
            </div>
          </div>
          </div>
          



<!--
            <form>
              
              <div class="container col-6 justify-content-center align-items-center">
                <div class="mb-3">
                    
                  
              </div>
                
                <div class="mb-3">
                    
                    <a class="btn btn-primary" aria-current="page" href="about"><i class="fa-regular fa-address-card"></i>About</a>
                    <a class="btn btn-primary" aria-current="page" href="projects"><i class="fa-light fa-diagram-project"></i>Projects</a>
                </div>
                
                <div class="mb-3">
                    
                    <a class="btn btn-primary" aria-current="page" href="services"><i class="fa-brands fa-servicestack"></i>Services</a>
                    <a class="btn btn-primary" aria-current="page" href="contact"><i class="fa-regular fa-address-book"></i>Contact</a>
                </div>
    
              </div>



            </form>

-->



          
        <%}%>
        <% if(title=="About"){%>
            <%-include partials/about.ejs%>
        <%}%>
        <% if(title=="Projects"){%>
          <%-include partials/projects.ejs%>
            
        <%}%>
        <% if(title=="Services"){%>
          <%-include partials/services.ejs%>
            
        <%}%>
        <% if(title=="Contact"){%>
          <%-include partials/contact.ejs%>
            
        <%}%>


      </div>
    </main>
    
    <!--<h1><%= title %></h1>
    <p>Welcome to <%= title %> Page</p>-->
    <!--script section-->
    <%-include partials/bottom_nav.ejs%>
    <%-include partials/footer.ejs%>



